{% extends "templates/base/base.htm" %}
{% import "templates/base/uitools.htm" as forms %}



{% block title %}TuxLog{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

    {% call forms.record_form( table, id ) %}

    {% call forms.row() %}
        {% call forms.input('id', 'ID', 'Login ID', data['id'], disabled=True ) %}
        {% endcall %}
    {% endcall %}

    {% call forms.row() %}
        {% call forms.input('callsign', 'Callsign', '', data['callsign'] ) %}
        {% endcall %}
    {% endcall %}

    {% call forms.row() %}
        {% call forms.input('passcode', 'Passcode', '', data['passcode'] ) %}
        {% endcall %}
    {% endcall %}

    {% endcall %}

{% endblock %}




